<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection properties -->
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ranjitha</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">Ranju@95</property>

		<!-- Enable the logging of all the generated SQL statements to the console -->
		<property name="hibernate.show_sql">true</property>
		
		<!-- Format the generated SQL statement to make it more readable, -->
        <property name="format_sql">true</property>

		<!-- mappings for annotated classes -->
		<mapping class="com.xworkz.customer.entity.CustomerEntity" />
	</session-factory>
</hibernate-configuration>